:root {
  font-family: 'Microsoft YaHei', 'PingFang SC', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f7fa;
}

#app {
  width: 100%;
}

a {
  color: #409EFF;
  text-decoration: none;
}

a:hover {
  color: #66b1ff;
}
